<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Long Name Game</title>
    <link rel="stylesheet" href="../static/css/GamePage.css">

</head>
<body>

<div class="container">
    <div id="title" class="main-title">
        <h1>The Legend of Culture: Barracuda Quest the Game 2 Electric Boogaloo Definitive Edition Remastered 2</h1>
    </div>
</div>

<div id="bottom-container" class="container">
  <div class="maincontent">
    <div class="hintscontainer">
        <div id="hints" class="bottombox-container">
        <div class="gamecontainer">
          <h2>Hints</h2>
        </div>
        
        <div class="hintcontainer">
          <div class="button-group">
            <img src="../static/images/Cloud.png">
            <button id="hint1btn" class="btn">Temperature</button>
          </div>
          <input type="text" id="hint1content" class="hinttext"/> 
        </div>
        <div class="hintcontainer">
          <div class="button-group">
            <img src="../static/images/Cloud.png">
            <button id="hint2btn" class="btn">State Flower</button>
          </div>
          
          <input type="text" id="hint2content" class="hinttext"/> 
          </div>
        <div class="guesscontainer">

          <input
            type="text"
            id="userGuessInput"
            placeholder="Enter your guess..."
          />
          <br>
          <div class="button-group">
            <img src="../static/images/Cloud.png">
          <button class="btn"
            onclick="checkGuess();">
            Make Guess
          </button>
          
          </div>
        </div>
        
        <div class="gamecontainer">
          <div class="button-group">
            <img src="../static/images/Cloud.png">
            <button class="btn" onclick="window.location.reload()">New Game</button>
          </div>
          <div class="button-group">
            <img src="../static/images/Cloud.png">
          <button class="btn"
            onclick="window.location.href= 'http://localhost:8000/welcome/';">
            Surrender?
          </button>
          
          </div>

        </div>
        </div>
        
      </div>
    
    <div id="pano" ></div>
    <div class="scoreboardcontainer">
      <table class="scoreboard">
        <thead>
          <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody id="leaderboardBody">
          <!-- Table body will be populated dynamically -->
        </tbody>
      </table>
    </div>
  </div>   
  
  <div class="maincontent" id="inner-container">
    <div class="timer-container">
    <div id="timerDiv">Ready?</div>
  </div>
    <div id="encouragement" class="bottombox-container">
        <h2>Quotes to keep you going!</h2>
        <p>"You don't suck!</p>
        <p>"Your parents divorce wasn't your fault!</p>
    </div>
    <div id="logo" class="bottombox-container">
      <img class= "logo" src="../static/images/Project-Barracuda_Logo.jpg">
    </div>
  </div>
  
</div>
        <!-- this is the button for guessing. I can look into getting a better popup window, or we can have a permanent textbox within the game page-->
<script
      src="https://maps.googleapis.com/maps/api/js?key={{ key }}&loading=async&callback=initialize&v=weekly"
      async
    >
</script>
<script src="../static/js/gamepage.js"></script>
<script>

var hintsUsed = 0;
var hintOne = false;
var hintTwo = false;
var hint1btn = document.getElementById('hint1btn');
var hint1content = document.getElementById('hint1content');
var hint2btn = document.getElementById('hint2btn');
var hint2content = document.getElementById('hint2content');
var city_name = "{{city_name}}";
var numGuesses = 0;
const userGuess = document.getElementById('userGuessInput');
const latitude = parseFloat("{{lat_con}}");
const longitude = parseFloat("{{long_con}}");
var interval;
const scores = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10];
const allScores = JSON.parse('{{ allScores|escapejs }}');
    
</script>
</body>

</html>
