<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Long Name Game</title>
    <link rel="stylesheet" href="../static/css/GamePage.css">

</head>
<body>

<div class="container">
    <div id="title" class="main-title">
        <h1>The Legend of Culture: Barracuda Quest the Game 2 Electric Boogaloo Definitive Edition Remastered 2</h1>
    </div>
</div>

<div id="bottom-container" class="container">
  <div class="maincontent">
    <div class="hintscontainer">
        <div id="hints" class="bottombox-container">
        <h2>Hints</h2>
        <br>
        <div class="button-group">
          <img src="../static/images/Cloud.png">
          <button id="hint1btn" class="btn">Hint 1</button>
        </div>
        <br>
        <p id="hint1content"> </p>
        <br>
        <div class="button-group">
          <img src="../static/images/Cloud.png">
          <button id="hint2btn" class="btn">Hint 2</button>
        </div>
        <br>
        <p id="hint2content"> </p>
        <br>
        
        <br><br><br><br>
        <div class="button-group">
          <img src="../static/images/Cloud.png">
          <button class="btn" onclick="window.location.reload()">New Game (Reload Map)</button>
        </div>
        <br><br><br><br><br>
        <div class="container">

          <input
            type="text"
            id="userGuessInput"
            placeholder="Enter your guess..."
          />
          <br>
          <input
            class="button"
            type="button" 
            value="{{city_name}}"
            onclick="checkGuess();"
          />
        </div>
        </div>
        
      </div>
    
    <div id="pano" ></div>
    <div class="scoreboardcontainer">
      <table class="scoreboard">
        <thead>
          <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody id="leaderboardBody">
          <!-- Table body will be populated dynamically -->
        </tbody>
      </table>
    </div>
  </div>   
  
  <div class="maincontent" id="inner-container">
    <div id="timerDiv" class="bottombox-container">Ready?</div>
    <div id="encouragement" class="bottombox-container">
        <h2>Quotes to keep you going!</h2>
        <p>"You don't suck!</p>
        <p>"Your parents divorce wasn't your fault!</p>
    </div>
    <div id="logo" class="bottombox-container">
      <img class= "logo" src="../static/images/Project-Barracuda_Logo.jpg">
    </div>
  </div>
  
</div>



  
        <!-- this is the button for guessing. I can look into getting a better popup window, or we can have a permanent textbox within the game page-->
<script
      src="https://maps.googleapis.com/maps/api/js?key={{ key }}&loading=async&callback=initialize&v=weekly"
      async
    >
</script>
<script>

var hintsUsed = 0;
var hintOne = false;
var hintTwo = false;
var hint1btn = document.getElementById('hint1btn');
var hint1content = document.getElementById('hint1content');
var hint2btn = document.getElementById('hint2btn');
var hint2content = document.getElementById('hint2content');

hint1btn.onclick = function() {

  var data = {
    latitude: latitude,
    longitude: longitude
  }

  fetch('/getweather/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (!response.ok) {
            throw new Error('Error retrieving data');
        }
    return response.text();
  })
  .then(jsonString => {
    
    var jsonData = JSON.parse(jsonString);
    
    let temperature = jsonData.temperature;

    hint1content.textContent = `The current temperature is ${temperature}°F`;

    hintsUsed++;
    hintOne = true;
    console.log(jsonData['temperature']);
    
  })
  .catch(error => {
    console.error('Error:', error);
  });

};

hint2btn.onclick = function() {

  var data = {
    city: "{{city_name}}",
  }

  fetch('/getbird/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (!response.ok) {
            throw new Error('Error retrieving data');
        }
    return response.text();
  })
  .then(jsonString => {
    
    var jsonData = JSON.parse(jsonString);
    
    let bird = jsonData.bird;

    hint2content.textContent = `The state bird is the ${bird}`;
    console.log(jsonData.bird);

    hintsUsed++;
    hintTwo = true;
  })
  .catch(error => {
    console.error('Error:', error);
  });

}

var numGuesses = 0;

const userGuess = document.getElementById('userGuessInput');

function checkGuess() 
{
  numGuesses++;

  let currentLocation = "{{city_name}}";
  
  guess = userGuess.value;
  
  console.log(guess);

  if( guess.toLowerCase() == currentLocation )
  {
    clearInterval(interval);
    
    var data = {
    timeLeft: remainingTime.toString(),
    numGuesses: numGuesses.toString(),
    hintOne: hintOne,
    hintTwo: hintTwo
    };

    fetch('/save_score/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error saving guess');
        }
        return response.text();
    })
    .then(data => {
        console.log(JSON.parse(data));
        alert("Correct");
    })
    .catch(error => {
        console.error('Error saving guess:', error);
        alert("Error saving guess");
    });
  }
  else
  {
    alert("Wrong");
  }
  
  console.log(numGuesses);
}

const latitude = parseFloat("{{lat_con}}");
const longitude = parseFloat("{{long_con}}");

function initialize ()
{

  const fenway = { lat: latitude, lng: longitude };
 
  const panorama = new google.maps.StreetViewPanorama(
    document.getElementById("pano"),
    {
      position: fenway,
      pov: {
        heading: 34,
        pitch: 10,
      },
      
      linksControl: true,
      panControl: false,
      enableCloseButton: false,
      addressControl: false,
      showRoadLabels: false,
      motionTracking: false,
    },           
  );
}



window.initialize = initialize;

  var interval;

  function startTimer(duration, display) {
    var timer = duration;
    var interval = setInterval(function () {
        var minutes = parseInt(timer / 60, 10);
        var seconds = parseInt(timer % 60, 10);

        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            clearInterval(interval);
            display.textContent = "Time's up!";
        } else if (timer > 180) {
            display.style.color = "green";
        } else if (timer < 180 && timer >= 60) {
            display.style.color = "orange";
        } else if (timer < 60 && timer >= 30) {
            display.style.color = "red";
        } else if (timer < 30 && timer % 2 == 1) {
            display.style.color = "red";
            display.style.backgroundColor = "black";
        } else if (timer < 30 && timer % 2 == 0) {
            display.style.color = "red";
            display.style.backgroundColor = "white";
        }

        remainingTime = timer; // Update remainingTime as the timer counts down
    }, 1000);

      remainingTime = timer; // Set remainingTime initially
  }

    window.onload = function () {
        var fiveMinutes = 300,
            display = document.querySelector('#timerDiv');
        interval = startTimer(fiveMinutes, display);
    };
    const scores = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10];

    const allScores = JSON.parse('{{ allScores|escapejs }}');

  // Function to populate the scoreboard

    function loadAllScores() {
        const leaderboardBody = document.getElementById("leaderboardBody");
        leaderboardBody.innerHTML = "";
        let i = 0;
        allScores.forEach(entry => {
            if (i >= 10) return;
            const row = document.createElement("tr");
            row.innerHTML = `
                <td>${++i}</td>
                <td>${entry.fields.username}</td>
                <td>${entry.fields.score}</td>
            `;
            leaderboardBody.appendChild(row);
        });
        console.log(leaderboardBody);
    }

  // Call the function to initially populate the scoreboard
    loadAllScores();
</script>
</body>

</html>
