<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Leaderboard</title>
    <link rel="stylesheet" href="../static/css/LeaderboardPage.css">
</head>
<body>
    <header>
        
        <div class="button-group">
            <img src="../static/images/Cloud.png">
            <button class="btn" id="toWelcome">Back to Home Page</button>
        </p>
    </header>
    <h1>Player Leaderboard</h1>
    <br>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" id="allScoresButton">All Time Scores</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" id="userScoresButton">User Scores</button>
    </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
                <th>Time Taken</th>
            </tr>
        </thead>
        <tbody id="leaderboardBody">
            <!-- Leaderboard data will go here -->
        </tbody>
    </table>
    <script>

    const allScores = JSON.parse('{{ allScores|escapejs }}');
    const username = "{{username}}";
        
    </script>
    <script src="../static/js/leaderboard.js"></script>
</body>
</html>
