<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Leaderboard</title>
    <link rel="stylesheet" href="../static/css/LeaderboardPage.css">
</head>
<body>
    <h1>Player Leaderboard</h1>
    <br>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" id="allScoresButton">All Time Scores</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" id="userScoresButton">User Scores</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="topUserBtn" class="btn">Top User Scores</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
                <th>Time Taken</th>
            </tr>
        </thead>
        <tbody id="leaderboardBody">
            <!-- Leaderboard data will go here -->
        </tbody>
    </table>
    <script>

        function formatTime(seconds) {
            const date = new Date(seconds * 1000);
            return date.toLocaleTimeString('en-US', { minute: '2-digit', second: '2-digit' });
        }

        const allScores = JSON.parse('{{ allScores|escapejs }}');
        console.log(allScores);
        //Function to populate the leaderboard table
        function loadAllScores() {
            const leaderboardBody = document.getElementById("leaderboardBody");
            leaderboardBody.innerHTML = "";
            let i = 0;
            allScores.forEach(entry => {
                const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${++i}</td>
                    <td>${entry.fields.username}</td>
                    <td>${entry.fields.score}</td>
                    <td>${formatTime(Math.abs(entry.fields.finalTime - 300))}</td>
                `;
                leaderboardBody.appendChild(row);
            });
            console.log(leaderboardBody);
        }

        function loadUserScores() {
            const leaderboardBody = document.getElementById("leaderboardBody");
            leaderboardBody.innerHTML = "";
            let i = 0;
            allScores.forEach(entry => {
                if(entry.fields.username == "{{username}}")
                {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${++i}</td>
                        <td>${entry.fields.username}</td>
                        <td>${entry.fields.score}</td>
                        <td>${formatTime(Math.abs(entry.fields.finalTime - 300))}</td>
                    `;
                    leaderboardBody.appendChild(row);
                }
            });
            console.log(leaderboardBody);
        }

        document.addEventListener("DOMContentLoaded", function() {

            const allScoresButton = document.getElementById("allScoresButton");
            const userScoresButton = document.getElementById("userScoresButton");

            allScoresButton.onclick = loadAllScores;
            userScoresButton.onclick = loadUserScores;
            window.onload = loadAllScores;

       });



    </script>
</body>
</html>
