<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../static/css/LoginPage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>
<body>
 
  <div class="return">
    <div class="button-group">
      <img src="../static/images/Cloud.png">
      <button class="btn" id="toWelcome">Back to Home Page</button>
    </div>
  </div>
  

  <div class="login-box">
    <h2>Login</h2>
    <form id="login-form">
      <div class="username-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <br>
      <div class="password-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <br>
      <a href='http://localhost:8000/userportal/'>Forgot Password</a>
      <br>
      <br>
      <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" name="login" type="submit">Login</button>
      </div>
    </form>
    <div class="button-group">
      <img src="../static/images/Cloud.png">
      <button id="signupBtn" class="btn">Signup</button>
    </div>
    <img class= "logo" src="../static/images/Project-Barracuda_Logo.jpg">
  </div>

  <script src="../static/js/login.js">
    
  </script>
</body>
</html>
