<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../static/css/LoginPage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>
<body>
  <header><p><button class="btn" id="toWelcome">Back to Home Page</button></p></header>

  <div class="login-box">
    <h2>Login</h2>
    <form id="login-form">
      <div class="username-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <br>
      <div class="password-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <br>
      <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" name="login" type="submit">Login</button>
      </div>
    </form>
    <div class="button-group">
      <img src="../static/images/Cloud.png">
      <button id="signupBtn" class="btn">Signup</button>
    </div>
    <img class= "logo" src="../static/images/Project-Barracuda_Logo.jpg">
  </div>

  <script>
    document.getElementById("signupBtn").addEventListener("click", function() {
          window.location.href= 'http://localhost:8000/signup/';
      });

    document.getElementById("userPortalBtn").addEventListener("click", function() {
          window.location.href= 'http://localhost:8000/user_portal/';
      });
  </script>
</body>

  <script>
    toWelcome.onclick = function() {
            window.location.href = "http://localhost:8000/welcome/"; // Change this to your desired URL
        };

    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');

        form.addEventListener('submit', function(event) {
          event.preventDefault();

          const username = document.querySelector('#username').value.trim();
          const password = CryptoJS.SHA1(document.querySelector('#password').value.trim()).toString();

          const data = {
            username: username,
            password: password
          };
          console.log(data);

          fetch('/login-verify/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
            })
            .then(response => {
              if( response.ok )
              {
                window.location.href = '/welcome/';
              } 
            })
            .catch(error => {
              console.error('Error:', error);
            });
        });
    });

  </script>
</html>
