<html>
  <head>
    {% load static %}
    <title>Street View split-map-panes</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/map.css">

    <script>

      var numGuesses = 0;

      function checkGuess() 
      {
        let currentLocation = "{{city_name}}";

        var guess = window.prompt("{{city_name}}");
        
        console.log(currentLocation);

        if( guess.toLowerCase() == currentLocation )
        {
          alert("Correct");
        }
        else
        {
          alert("Wrong");
        }
        numGuesses++;
        console.log(numGuesses);
      }

      function initialize() 
      {
        var latitude = parseFloat("{{lat_con}}");
        var longitude = parseFloat("{{long_con}}");
        const fenway = { lat: latitude, lng: longitude };
       
        const panorama = new google.maps.StreetViewPanorama(
          document.getElementById("pano"),
          {
            position: fenway,
            pov: {
              heading: 34,
              pitch: 10,
            },
          

            linksControl: true,
            panControl: false,
            enableCloseButton: false,
            addressControl: false,
            showRoadLabels: false,
          },
        );

        map.setStreetView(panorama);
      }

      window.initialize = initialize;
    </script>
  </head>
  <body>
    <div id="pano"></div>
    <div id="floating-panel">
      <input
        type="button" 
        value="{{city_name}}"
        onclick="checkGuess();"
      />
    </div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initialize&v=weekly"
      defer
    ></script>
  </body>
</html>