<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/css/passwordPage.css">
    <script>
        function validateForm() 
        {
            var newPassword = document.getElementById("new_password").value;
            var confirmPassword = document.getElementById("confirm_password").value;

            if (newPassword != confirmPassword) 
            {
                alert("Passwords do not match!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="password-box">
    <h2>Reset Password</h2>
    <form method="post" action="http://localhost:8000/login/" onsubmit="return validateForm()">
        {% csrf_token %}
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>
        
        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        
        <div class="button-group">
            <img src="../static/images/Cloud.png">
            <button class="btn" name="reset" type="submit">Reset</button>
        </div>
    </form>
    </div>
</body>
</html>
