<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../static/css/signupPage.css">
</head>
<body>
  <div class="signup-box">
    <h2>Login</h2>
    <form>
      <div class="username-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <br>
      <div class="email-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <br>
      <div class="password-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <br>
      <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button class="btn" type="submit">Signup</button>
      </div>
    </form>
  </div>
</body>
</html>
