<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <!-- <link rel="stylesheet" href="coltonsstyle.css"> -->
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form action="PasswordPage.html" method="post">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <br>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
