<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Mode Selection</title>
    <link rel="stylesheet" href="../static/css/welcomePage.css">
</head>
<body>
    <br>
    <br>
    <br>
    <h1 class="marquee">
        <span>
            The Legend of Culture: Barracuda Quest the Game 2 Electric Boogaloo Definitive Edition Remastered 2
        </span>
    </h1>
    <br>
    {% if username != 'null'%}
        <h4>Welcome, {{ username }}!</h4>
    {% else %}
        <h4>Welcome to the Game</h4>
    {% endif %}

    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="casualBtn" class="btn">Casual</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="rankedBtn" class="btn">Ranked</button>
    </div>
    <br>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="leaderBtn" class="btn">Leaderboard</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="loginBtn" class="btn"></button>
    </div>
    <br>

    <img class= "logo" src="../static/images/Project-Barracuda_Logo.jpg">
    <script>
        
        console.log("{{username}}");
        document.getElementById("leaderBtn").addEventListener("click", function() {
            window.location.href= 'http://localhost:8000/leaderboard/';
            //Here is the link I used to store the variables
            //abc123
            //https://stackoverflow.com/questions/27765666/passing-variable-through-javascript-from-one-html-page-to-another-page
        });

        document.getElementById("casualBtn").addEventListener("click", function() {
            localStorage.setItem("isRanked",false);
            window.location.href= 'http://localhost:8000/gamepage/';
        });
 
        document.getElementById("rankedBtn").addEventListener("click", function() {
            localStorage.setItem("isRanked",true);
            window.location.href= 'http://localhost:8000/gamepage/';
        });

        var loginBtn = document.getElementById('loginBtn');

        function toggleLoginLogout () 
        {

            let username = "{{username}}"

            if(username != 'null')
            {
                loginBtn.textContent = 'Logout';
                loginBtn.onclick = function () 
                {
                    fetch('/logout/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    credentials: 'same-origin', 
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Logout failed');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data.message);
                    window.location.reload();
                })
                .catch(error => {
                    // Handle error
                    console.error('Logout error:', error);
                });
                }
            }
            else 
            {
                loginBtn.textContent = 'Login';
                loginBtn.onclick = function () {
                    window.location.href = 'http://localhost:8000/login/';
                };
            }

        }

        window.addEventListener('load', toggleLoginLogout);
    </script>
</body>
</html>
