<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Mode Selection</title>
    <link rel="stylesheet" href="../static/css/welcomePage.css">
</head>
<body>
    <br>
    <br>
    <br>
    <h1 class="marquee">
        <span>
            The Legend of Culture: Barracuda Quest the Game 2 Electric Boogaloo Definitive Edition Remastered 2
        </span>
    </h1>
    <br>
    {% if username != 'null'%}
        <h4>Welcome, {{ username }}!</h4>
    {% else %}
        <h4>Welcome to the Game</h4>
    {% endif %}

    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="casualBtn" class="btn">Casual</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="rankedBtn" class="btn">Ranked</button>
    </div>
    <br>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="leaderBtn" class="btn">Leaderboard</button>
    </div>
    <div class="button-group">
        <img src="../static/images/Cloud.png">
        <button id="loginBtn" class="btn"></button>
    </div>
    <br>

    <img class= "logo" src="../static/images/Project-Barracuda_Logo.jpg">
    <script>

        const username = "{{username}}";
        var loginBtn = document.getElementById('loginBtn');
        var rankedBtn = document.getElementById('rankedBtn');

        
    </script>
    <script src="../static/js/welcomepage.js"></script>
</body>
</html>
